@font-face {
    font-family:"pacifico";
    src: url(../fonts/pacifico-Regular.ttf)
}
@font-face {
    font-family:"montserrat";
    src: url(../fonts/montserrat-Regular.ttf)
}
@font-face {
    font-family:"montserrat";
    font-weight:bold;
    src: url(../fonts/montserrat-bold.ttf)
}

*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
    
    
}
/*Estilos base*/
img{
    display: block;
    width: 100%;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.container{
    width: 100%;
    margin: auto;
}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column{
    width: 100%;

}

/*estilos del header*/
.main-header{
    width: 100%;
}
.logo {
    font-size: 1.8em;
    color: #DE423a;
    padding: 10px;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}
.main-header__contactInfo__phone{
    background: #DE423a ;
    color: white;
    margin: 0 auto;
    padding: 10px;
}
.main-header__contactInfo__address{
    margin: 0 ;
    padding: 10px;
}
.main-header[class*="icon-"] :before {
    position: relative;
    top: 2px;
    right: 5px;
}
.main-header .icon-phone{
    position: relative;
    top: 2px;
    right: 5px;
    
}
.main-header .icon-location{
    position: relative;
    top: 2px;
    right: 5px;
    
}



/*estilos de menu---nav*/
.main-nav{
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
    transition: all .3s;
}
.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0, .85);
}
.icon-menu{ 
    display: block;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 49px;
    text-align: center;
    cursor: pointer;
    font-size: 1.7em;
}


.social-icon{
    display: flex;
    justify-content: space-between;
}

.social-icon .icon-facebook{
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}
.social-icon .icon-twitter{
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}
.social-icon .icon-mail{
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}
.social-icon__link{
    text-decoration: none;
}
.menu{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0, .85);
    padding: 0;
    margin: 0;
    list-style: none ;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
    
}

.menu__link{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    
    
    
}
.menu__link:hover{
    background: #DE423a;
}
.menu__link--select{
    background: #DE423a;/*menu leseccionado*/
       
}
.mostrar{
    height: 250px;
}

/*estilos de banner o portada*/
.banner{
    margin-top: -60px;
    position: relative;
    
}
.banner:before {
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1000;
    top: 0;
}

.banner__img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}

.celular{
    display: none;
}
.banner__content{
    widows: 90%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
}

/*estilos principales debajo de la portada*/
.group--color .container{
    background: #DE423a ;
    color: white;
    padding: 10px;
    text-align: center;
}
.main__title{
    margin: 15px;
    font-size: 1.8em;
    font-family: 'pacifico',cursive;
    font-weight: 100;/*grosor de texto*/
}
.main__txt{
    
}
.imagen2{
    height: 250px;
    object-fit: cover;
    
}
.column__title{
    font-style: 1.3em;
    
}
.main__about__description .column:nth-child(2){
    padding: 10px;
}
.btn{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    background: #DE423a ;
    color: white;
    padding: 10px;
    margin: 10px auto;
}
.group__title{
    font-family: 'pacifico',cursive;
    text-align: center;
    font-weight: 100;
    font-size: 1.8em;
    margin: 30px;
    
}

.today-special .column{
    margin-bottom: 30px;
     text-align: center;
}
.today-special__img{
    margin: auto;
    max-width: 350px;
}
.today-special__title{
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 20px;

}
.today-special__price{
    font-style: 1.5em;
    color: #DE423a;
    font-weight: bold;
}

/*estilos del footer parate abajo*/
.main-footer{
    background: #222;
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
    
}
.copy{
    text-align: center;
    margin: auto;
    margin-top: 15px;
    
}
.main-footer .icon-facebook  {
    color: white;
    text-decoration: none;
}
.main-footer .icon-twitter  {
    color: white;
    text-decoration: none;
}

.main-footer .icon-youtube  {
    color: white;
    text-decoration: none;
}

/*estilos rensive modo escritorio  medida 480*/
@media screen and (min-width:480px){
    .logo{
        color: white;
    }
    .main-header__contactInfo{
        text-align: right;
        
    }

    .main-header__contactInfo__phone{
        background: none;
    }
    .main-header__contactInfo__address{
        color: white;
        
    }
 
    .main-nav{
        background: rgba(0,0,0,0.85);
        
        
    }
    .banner{
        margin-top: -152px;  
    }
    .celular{
        display: block;
    }
    .banner__img{
        height: 450px;
    }
    .banner__content{
        font-style: 2em;
        
    }
    .main{
        padding-bottom: 15px;
        
    }
       .main__about__description{
        margin-top: 10px; 
    }
        .imagen2{
        height: 200px;
        object-fit: cover;
        
    }
   
    .main__about__description .column:nth-child(2){
        padding-left: 20px;
        font-size: .9em;
        
    }
    .main__about__description .btn{
        margin: 0;
    }
    .today-special .column {
        border: 5px solid #ddd;
        padding: 5px;
        
    }
    .today-special__img{
        height: 200px;
        object-fit: cover; /*para q la imagen no se estire*/
        
    }
    .main-footer .container--flex{
        align-items: flex-start;/*alinea arriba*/
        
    }
     .column--50{
        width: 49%;
    }
    
    .column--50-25{
        width: 49%;
    }
    .column--33{
        width: 32%;
    }
}
@media screen and (min-width:624px){
    .banner{
        margin-top: -150px;  
    }
    
}
/*estilos rensive modo escritorio  medida 768*/
@media screen and (min-width:768px){
 
    .main__title{
        font-size: 2.2em;
    }
    .main__about__description{
        margin-top: 30px; 
    }
    
    .main__about__description .column--50:nth-child(2){
        font-size: 1em;
        
    }
    .main__about__description .column--50:nth-child(2) .column__txt {
        line-height: 30px;
        
    }
    .banner{
        margin-top: -140px ;
    }
    .imagen2{
        height: 300px;
        object-fit: cover;
        
    }
    .column--50-25{
        width: 24.5%;
    }
    .column__title{
        font-size: 1em;
    }
    .group__title{
        font-style: 2.2em;
    }
        
}
/*estilos rensive modo escritorio  medida 1024*/
@media screen and (min-width:1024px){
    .container{
        width: 1000px;
    }
    .logo{
        font-size: 2em;
        padding: 0;
    }
    .main-header__contactInfo__phone,
    .main-header__contactInfo__address{
        padding-right: 0;
        font-size: 1.15em;
        
    }
    .main-nav{
        padding: 0;
    }
    .banner__content{
        font-size: 2.5em;
    }
    .icon-menu{
        display: none;
    }
    .menu{
        position: static;
        display: flex;
        height: auto;
        width: auto;
    }
    .menu--linl{
        padding: 20px;
    }
    .group--color .container{
        margin-top: 30px; /*separar arriba*/
        margin-bottom: 30px; /*separar abajo*/
        padding: 20px; /*mas relleno*/
          
    }
    .main__title{
        font-size: 2.3em;
    }
    
    .main__about__description .column--50:nth-child(2) .column__txt{
        line-height: 45px;/*espaciado a las lineas o reglones*/  
    }
    .today-special__title{
        font-size: 1.4em;
    }
    .today-special__price{
        font-size: 1.8em;
    }
    .main-footer{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
}
/*estilos rensive modo escritorio  medida 1600*/
@media screen and (min-width:1600px){
    .container{
        width: 1400px;
    }
     .logo{
        font-size: 2em;
        
    }
    .main__about__description .column:nth-child(1) img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    
    }
    .today-special__img{
        height: 300px;
        
    }    
}





























